.blogs {
	background-image: url('../assets/img/dog-and-baby.jpg');
}
.about {
	background-image: url('../assets/img/about-portrait.jpg');
}
.recipes {
	background-image: url('../assets/img/recipes-strawberries.jpg');
}