.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0;
}

.nav-list-item {
	list-style: none;
	padding: 0 5px 0 5px;
}

.nav-item {
	text-decoration: none;
	color: black;
	text-transform: capitalize;
	line-height: 60px;
}
