.posts {
	ul {
		width: 100%;
		padding: 0;
		display: inline-grid;
		grid-template-columns: auto auto auto;
		grid-row-gap: 30px;
		grid-column-gap: 40px;
		list-style-type: none;
		justify-content: center;

		@media screen and (max-width: 1650px) {
			grid-template-columns: auto auto;
		}

		@media screen and (max-width: 1050px) {
			grid-template-columns: 100%;
			grid-column-gap: 20px;
		}
	}
}
