@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto&display=swap');

// General typography
body {
	font-family: 'Roboto', sans-serif;
}

:global {
	section {
		display: flex;
		justify-content: center;

		article {
			width: 60%;
			display: inline-block;
			line-height: 1.7em;
			color: #474747;
			margin-top: 20px;

			@media screen and (max-width: 1050px) {
				width: 80%;
			}

			@media screen and (max-width: 500px) {
				width: 90%;
			}

			h1 {
				text-align: center;
			}

			img {
				text-align: center;
			}

			.aligncenter {
				text-align: center;

				> img {
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}
