@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto&display=swap');

// General typography
body {
	font-family: 'Roboto', sans-serif;
}

section {
	text-align: center;

	article {
		width: 60%;
		display: inline-block;
		line-height: 30px;
		color: #3a3a3a;
	}
}
